.mT1 {
  margin-top: 1vw; }

.mR1 {
  margin-right: 1vw; }

.mL1 {
  margin-left: 1vw; }

.mT2 {
  margin-top: 2vw; }

.mR2 {
  margin-right: 2vw; }

.mL2 {
  margin-left: 2vw; }

.mT3 {
  margin-top: 3vw; }

.mR3 {
  margin-right: 3vw; }

.mL3 {
  margin-left: 3vw; }

.mT4 {
  margin-top: 4vw; }

.mR4 {
  margin-right: 4vw; }

.mL4 {
  margin-left: 4vw; }

.mT5 {
  margin-top: 5vw; }

.mR5 {
  margin-right: 5vw; }

.mL5 {
  margin-left: 5vw; }

.mT6 {
  margin-top: 6vw; }

.mR6 {
  margin-right: 6vw; }

.mL6 {
  margin-left: 6vw; }

.mT7 {
  margin-top: 7vw; }

.mR7 {
  margin-right: 7vw; }

.mL7 {
  margin-left: 7vw; }

.mT8 {
  margin-top: 8vw; }

.mR8 {
  margin-right: 8vw; }

.mL8 {
  margin-left: 8vw; }

.mT9 {
  margin-top: 9vw; }

.mR9 {
  margin-right: 9vw; }

.mL9 {
  margin-left: 9vw; }

.mT10 {
  margin-top: 10vw; }

.mR10 {
  margin-right: 10vw; }

.mL10 {
  margin-left: 10vw; }

.mT11 {
  margin-top: 11vw; }

.mR11 {
  margin-right: 11vw; }

.mL11 {
  margin-left: 11vw; }

.mT12 {
  margin-top: 12vw; }

.mR12 {
  margin-right: 12vw; }

.mL12 {
  margin-left: 12vw; }

.mT13 {
  margin-top: 13vw; }

.mR13 {
  margin-right: 13vw; }

.mL13 {
  margin-left: 13vw; }

.mT14 {
  margin-top: 14vw; }

.mR14 {
  margin-right: 14vw; }

.mL14 {
  margin-left: 14vw; }

.mT15 {
  margin-top: 15vw; }

.mR15 {
  margin-right: 15vw; }

.mL15 {
  margin-left: 15vw; }

.mT16 {
  margin-top: 16vw; }

.mR16 {
  margin-right: 16vw; }

.mL16 {
  margin-left: 16vw; }

.mT17 {
  margin-top: 17vw; }

.mR17 {
  margin-right: 17vw; }

.mL17 {
  margin-left: 17vw; }

.mT18 {
  margin-top: 18vw; }

.mR18 {
  margin-right: 18vw; }

.mL18 {
  margin-left: 18vw; }

.mT19 {
  margin-top: 19vw; }

.mR19 {
  margin-right: 19vw; }

.mL19 {
  margin-left: 19vw; }

.mT20 {
  margin-top: 20vw; }

.mR20 {
  margin-right: 20vw; }

.mL20 {
  margin-left: 20vw; }

.mT21 {
  margin-top: 21vw; }

.mR21 {
  margin-right: 21vw; }

.mL21 {
  margin-left: 21vw; }

.mT22 {
  margin-top: 22vw; }

.mR22 {
  margin-right: 22vw; }

.mL22 {
  margin-left: 22vw; }

.mT23 {
  margin-top: 23vw; }

.mR23 {
  margin-right: 23vw; }

.mL23 {
  margin-left: 23vw; }

.mT24 {
  margin-top: 24vw; }

.mR24 {
  margin-right: 24vw; }

.mL24 {
  margin-left: 24vw; }

.mT25 {
  margin-top: 25vw; }

.mR25 {
  margin-right: 25vw; }

.mL25 {
  margin-left: 25vw; }

.mT26 {
  margin-top: 26vw; }

.mR26 {
  margin-right: 26vw; }

.mL26 {
  margin-left: 26vw; }

.mT27 {
  margin-top: 27vw; }

.mR27 {
  margin-right: 27vw; }

.mL27 {
  margin-left: 27vw; }

.mT28 {
  margin-top: 28vw; }

.mR28 {
  margin-right: 28vw; }

.mL28 {
  margin-left: 28vw; }

.mT29 {
  margin-top: 29vw; }

.mR29 {
  margin-right: 29vw; }

.mL29 {
  margin-left: 29vw; }

.mT30 {
  margin-top: 30vw; }

.mR30 {
  margin-right: 30vw; }

.mL30 {
  margin-left: 30vw; }

.mT31 {
  margin-top: 31vw; }

.mR31 {
  margin-right: 31vw; }

.mL31 {
  margin-left: 31vw; }

.mT32 {
  margin-top: 32vw; }

.mR32 {
  margin-right: 32vw; }

.mL32 {
  margin-left: 32vw; }

.mT33 {
  margin-top: 33vw; }

.mR33 {
  margin-right: 33vw; }

.mL33 {
  margin-left: 33vw; }

.mT34 {
  margin-top: 34vw; }

.mR34 {
  margin-right: 34vw; }

.mL34 {
  margin-left: 34vw; }

.mT35 {
  margin-top: 35vw; }

.mR35 {
  margin-right: 35vw; }

.mL35 {
  margin-left: 35vw; }

.mT36 {
  margin-top: 36vw; }

.mR36 {
  margin-right: 36vw; }

.mL36 {
  margin-left: 36vw; }

.mT37 {
  margin-top: 37vw; }

.mR37 {
  margin-right: 37vw; }

.mL37 {
  margin-left: 37vw; }

.mT38 {
  margin-top: 38vw; }

.mR38 {
  margin-right: 38vw; }

.mL38 {
  margin-left: 38vw; }

.mT39 {
  margin-top: 39vw; }

.mR39 {
  margin-right: 39vw; }

.mL39 {
  margin-left: 39vw; }

.mT40 {
  margin-top: 40vw; }

.mR40 {
  margin-right: 40vw; }

.mL40 {
  margin-left: 40vw; }

.mT41 {
  margin-top: 41vw; }

.mR41 {
  margin-right: 41vw; }

.mL41 {
  margin-left: 41vw; }

.mT42 {
  margin-top: 42vw; }

.mR42 {
  margin-right: 42vw; }

.mL42 {
  margin-left: 42vw; }

.mT43 {
  margin-top: 43vw; }

.mR43 {
  margin-right: 43vw; }

.mL43 {
  margin-left: 43vw; }

.mT44 {
  margin-top: 44vw; }

.mR44 {
  margin-right: 44vw; }

.mL44 {
  margin-left: 44vw; }

.mT45 {
  margin-top: 45vw; }

.mR45 {
  margin-right: 45vw; }

.mL45 {
  margin-left: 45vw; }

.mT46 {
  margin-top: 46vw; }

.mR46 {
  margin-right: 46vw; }

.mL46 {
  margin-left: 46vw; }

.mT47 {
  margin-top: 47vw; }

.mR47 {
  margin-right: 47vw; }

.mL47 {
  margin-left: 47vw; }

.mT48 {
  margin-top: 48vw; }

.mR48 {
  margin-right: 48vw; }

.mL48 {
  margin-left: 48vw; }

.mT49 {
  margin-top: 49vw; }

.mR49 {
  margin-right: 49vw; }

.mL49 {
  margin-left: 49vw; }

.mT50 {
  margin-top: 50vw; }

.mR50 {
  margin-right: 50vw; }

.mL50 {
  margin-left: 50vw; }

.mT51 {
  margin-top: 51vw; }

.mR51 {
  margin-right: 51vw; }

.mL51 {
  margin-left: 51vw; }

.mT52 {
  margin-top: 52vw; }

.mR52 {
  margin-right: 52vw; }

.mL52 {
  margin-left: 52vw; }

.mT53 {
  margin-top: 53vw; }

.mR53 {
  margin-right: 53vw; }

.mL53 {
  margin-left: 53vw; }

.mT54 {
  margin-top: 54vw; }

.mR54 {
  margin-right: 54vw; }

.mL54 {
  margin-left: 54vw; }

.mT55 {
  margin-top: 55vw; }

.mR55 {
  margin-right: 55vw; }

.mL55 {
  margin-left: 55vw; }

.mT56 {
  margin-top: 56vw; }

.mR56 {
  margin-right: 56vw; }

.mL56 {
  margin-left: 56vw; }

.mT57 {
  margin-top: 57vw; }

.mR57 {
  margin-right: 57vw; }

.mL57 {
  margin-left: 57vw; }

.mT58 {
  margin-top: 58vw; }

.mR58 {
  margin-right: 58vw; }

.mL58 {
  margin-left: 58vw; }

.mT59 {
  margin-top: 59vw; }

.mR59 {
  margin-right: 59vw; }

.mL59 {
  margin-left: 59vw; }

.mT60 {
  margin-top: 60vw; }

.mR60 {
  margin-right: 60vw; }

.mL60 {
  margin-left: 60vw; }

.mT61 {
  margin-top: 61vw; }

.mR61 {
  margin-right: 61vw; }

.mL61 {
  margin-left: 61vw; }

.mT62 {
  margin-top: 62vw; }

.mR62 {
  margin-right: 62vw; }

.mL62 {
  margin-left: 62vw; }

.mT63 {
  margin-top: 63vw; }

.mR63 {
  margin-right: 63vw; }

.mL63 {
  margin-left: 63vw; }

.mT64 {
  margin-top: 64vw; }

.mR64 {
  margin-right: 64vw; }

.mL64 {
  margin-left: 64vw; }

.mT65 {
  margin-top: 65vw; }

.mR65 {
  margin-right: 65vw; }

.mL65 {
  margin-left: 65vw; }

.mT66 {
  margin-top: 66vw; }

.mR66 {
  margin-right: 66vw; }

.mL66 {
  margin-left: 66vw; }

.mT67 {
  margin-top: 67vw; }

.mR67 {
  margin-right: 67vw; }

.mL67 {
  margin-left: 67vw; }

.mT68 {
  margin-top: 68vw; }

.mR68 {
  margin-right: 68vw; }

.mL68 {
  margin-left: 68vw; }

.mT69 {
  margin-top: 69vw; }

.mR69 {
  margin-right: 69vw; }

.mL69 {
  margin-left: 69vw; }

.mT70 {
  margin-top: 70vw; }

.mR70 {
  margin-right: 70vw; }

.mL70 {
  margin-left: 70vw; }

.mT71 {
  margin-top: 71vw; }

.mR71 {
  margin-right: 71vw; }

.mL71 {
  margin-left: 71vw; }

.mT72 {
  margin-top: 72vw; }

.mR72 {
  margin-right: 72vw; }

.mL72 {
  margin-left: 72vw; }

.mT73 {
  margin-top: 73vw; }

.mR73 {
  margin-right: 73vw; }

.mL73 {
  margin-left: 73vw; }

.mT74 {
  margin-top: 74vw; }

.mR74 {
  margin-right: 74vw; }

.mL74 {
  margin-left: 74vw; }

.mT75 {
  margin-top: 75vw; }

.mR75 {
  margin-right: 75vw; }

.mL75 {
  margin-left: 75vw; }

.mT76 {
  margin-top: 76vw; }

.mR76 {
  margin-right: 76vw; }

.mL76 {
  margin-left: 76vw; }

.mT77 {
  margin-top: 77vw; }

.mR77 {
  margin-right: 77vw; }

.mL77 {
  margin-left: 77vw; }

.mT78 {
  margin-top: 78vw; }

.mR78 {
  margin-right: 78vw; }

.mL78 {
  margin-left: 78vw; }

.mT79 {
  margin-top: 79vw; }

.mR79 {
  margin-right: 79vw; }

.mL79 {
  margin-left: 79vw; }

.mT80 {
  margin-top: 80vw; }

.mR80 {
  margin-right: 80vw; }

.mL80 {
  margin-left: 80vw; }

.mT81 {
  margin-top: 81vw; }

.mR81 {
  margin-right: 81vw; }

.mL81 {
  margin-left: 81vw; }

.mT82 {
  margin-top: 82vw; }

.mR82 {
  margin-right: 82vw; }

.mL82 {
  margin-left: 82vw; }

.mT83 {
  margin-top: 83vw; }

.mR83 {
  margin-right: 83vw; }

.mL83 {
  margin-left: 83vw; }

.mT84 {
  margin-top: 84vw; }

.mR84 {
  margin-right: 84vw; }

.mL84 {
  margin-left: 84vw; }

.mT85 {
  margin-top: 85vw; }

.mR85 {
  margin-right: 85vw; }

.mL85 {
  margin-left: 85vw; }

.mT86 {
  margin-top: 86vw; }

.mR86 {
  margin-right: 86vw; }

.mL86 {
  margin-left: 86vw; }

.mT87 {
  margin-top: 87vw; }

.mR87 {
  margin-right: 87vw; }

.mL87 {
  margin-left: 87vw; }

.mT88 {
  margin-top: 88vw; }

.mR88 {
  margin-right: 88vw; }

.mL88 {
  margin-left: 88vw; }

.mT89 {
  margin-top: 89vw; }

.mR89 {
  margin-right: 89vw; }

.mL89 {
  margin-left: 89vw; }

.mT90 {
  margin-top: 90vw; }

.mR90 {
  margin-right: 90vw; }

.mL90 {
  margin-left: 90vw; }

.mT91 {
  margin-top: 91vw; }

.mR91 {
  margin-right: 91vw; }

.mL91 {
  margin-left: 91vw; }

.mT92 {
  margin-top: 92vw; }

.mR92 {
  margin-right: 92vw; }

.mL92 {
  margin-left: 92vw; }

.mT93 {
  margin-top: 93vw; }

.mR93 {
  margin-right: 93vw; }

.mL93 {
  margin-left: 93vw; }

.mT94 {
  margin-top: 94vw; }

.mR94 {
  margin-right: 94vw; }

.mL94 {
  margin-left: 94vw; }

.mT95 {
  margin-top: 95vw; }

.mR95 {
  margin-right: 95vw; }

.mL95 {
  margin-left: 95vw; }

.mT96 {
  margin-top: 96vw; }

.mR96 {
  margin-right: 96vw; }

.mL96 {
  margin-left: 96vw; }

.mT97 {
  margin-top: 97vw; }

.mR97 {
  margin-right: 97vw; }

.mL97 {
  margin-left: 97vw; }

.mT98 {
  margin-top: 98vw; }

.mR98 {
  margin-right: 98vw; }

.mL98 {
  margin-left: 98vw; }

.mT99 {
  margin-top: 99vw; }

.mR99 {
  margin-right: 99vw; }

.mL99 {
  margin-left: 99vw; }

.mT100 {
  margin-top: 100vw; }

.mR100 {
  margin-right: 100vw; }

.mL100 {
  margin-left: 100vw; }
