/* reference this and the bootstrap for the css creation */

/* --------------- utility font classes ------------------ */
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/335509");


@font-face {font-family: 'TrendHandMade';font-weight: bold;font-style: italic;src: url('../fonts/335509_0_0.eot');src: url('../fonts/335509_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_0_0.woff2') format('woff2'),url('../fonts/335509_0_0.woff') format('woff'),url('../fonts/335509_0_0.ttf') format('truetype');}


@font-face {font-family: 'TrendHandMade';font-weight: bold;font-style: normal;src: url('../fonts/335509_1_0.eot');src: url('../fonts/335509_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_1_0.woff2') format('woff2'),url('../fonts/335509_1_0.woff') format('woff'),url('../fonts/335509_1_0.ttf') format('truetype');}


@font-face {font-family: 'TrendHandMade';font-weight: normal;font-style: normal;src: url('../fonts/335509_2_0.eot');src: url('../fonts/335509_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_2_0.woff2') format('woff2'),url('../fonts/335509_2_0.woff') format('woff'),url('../fonts/335509_2_0.ttf') format('truetype');}


@font-face {font-family: 'TrendHandMade';font-weight: normal;font-style: italic;src: url('../fonts/335509_3_0.eot');src: url('../fonts/335509_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_3_0.woff2') format('woff2'),url('../fonts/335509_3_0.woff') format('woff'),url('../fonts/335509_3_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda-ExtraLight';src: url('../fonts/335509_4_0.eot');src: url('../fonts/335509_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_4_0.woff2') format('woff2'),url('../fonts/335509_4_0.woff') format('woff'),url('../fonts/335509_4_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda-ExtraLightIt';src: url('../fonts/335509_5_0.eot');src: url('../fonts/335509_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_5_0.woff2') format('woff2'),url('../fonts/335509_5_0.woff') format('woff'),url('../fonts/335509_5_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda';font-weight: normal;font-style: normal;src: url('../fonts/335509_6_0.eot');src: url('../fonts/335509_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_6_0.woff2') format('woff2'),url('../fonts/335509_6_0.woff') format('woff'),url('../fonts/335509_6_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda';font-weight: normal;font-style: italic;src: url('../fonts/335509_7_0.eot');src: url('../fonts/335509_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_7_0.woff2') format('woff2'),url('../fonts/335509_7_0.woff') format('woff'),url('../fonts/335509_7_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda';font-weight: bold;font-style: normal;src: url('../fonts/335509_8_0.eot');src: url('../fonts/335509_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_8_0.woff2') format('woff2'),url('../fonts/335509_8_0.woff') format('woff'),url('../fonts/335509_8_0.ttf') format('truetype');}


@font-face {font-family: 'Trenda';font-weight: bold;font-style: italic;src: url('../fonts/335509_9_0.eot');src: url('../fonts/335509_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/335509_9_0.woff2') format('woff2'),url('../fonts/335509_9_0.woff') format('woff'),url('../fonts/335509_9_0.ttf') format('truetype');}

.TrendHandMade {
  font-family: 'TrendHandMade';
  font-weight: normal;
  color: #000000;
}

.Trenda {
  font-family: 'Trenda';
  font-weight: normal;
  color: #333333;
}

h1, h2, h3, h4, h5 {
  font-family: 'TrendHandMade';
  font-weight: normal;
  color: #000000;
}

p,li,form, ul, table {
  font-family: 'Trenda';
  font-weight: normal;
  color: #333333;
}

/* MOST OF FLEX GOES ON CONTAINER DIV */
/* ------------ parent css ------------*/

.flexRow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.flexCol {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

/* adjust row or col with these class="flexCol start" or class="flexRow start" */

/* not incorporating flex-direction reversals, flex-wrap, flex-flow, or align-content (as it treats multi-row wraps)...
the order we can set and detecting true wrap would be more math */

/* JUSTIFY CONTENTS */

.left { /* left for rows */
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.right { /* right for rows */
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.center {  /* center row */
   -webkit-justify-content: center;
   justify-content: center;
}

.centerAround {  /* equal buffers row */
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.centerBetween {  /* to edges, space between row */
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

/* ALIGN ITEMS */

.startVert{ /* top for row, left for column */
   -webkit-align-items: flex-start;
   align-items: flex-start;
}

.endVert { /* bottom for row, right for column */
   -webkit-align-items: flex-end;
   align-items: flex-end;
}

.centerVert {  /* center row vertically */
   -webkit-align-items: center;
   align-items: center;
}

.stretchVert {  /* fills space top to bottom */
   -webkit-align-items: stretch;
   align-items: stretch;
}

.baselineVert {  /* around baseline */
   -webkit-align-items: baseline;
   align-items: baseline;
}



/* A BIT OF FLEX GOES ON THE OBJECT ITSELF */
/* --------------- child css --------------- */

/* I don't use these much - in terms of grow or shrink -
and since we're setting child sizes, we won't need anything more than their odd alignment */

.startSelf{
	-webkit-align-self: flex-start;
	align-self:flex-start;
}

.endSelf{
	-webkit-align-self: flex-end;
	align-self:flex-end;
}

.centerSelf{
	-webkit-align-self: center;
	align-self:center;
}

.baseSelf{
	-webkit-align-self: baseline;
	align-self: baseline;
}

.stretchSelf{
	-webkit-align-self: stretch;
	align-self:stretch;
}


/* PREVIEW VISUALIZATION AIDES */
/* --------------- preview stuff css --------------- */

.pborder {
   border: solid 1px ;
}

.pbkground {
   background-color: none;
}

.ratioContainer {
   width: 100vw;
   height: 52vw;
   border: solid 1px black;
}

.invisDiv {
   border: dashed .25px lightgrey;
}

.disInlineFlex{
   display: inline-flex;
}
