.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dropzone {
  display: inline-block;
  border: dashed 0.5px #a9a9a9;
  margin: 0px 2px;
  padding: 0px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  opacity: 0.25;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #ffffff;
  background-color: #4e4;
}

.basicBox{
  fill: #ffffff;
  fill-opacity: 0.1;
  stroke: #000000;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.basicH1{
  fill: #3d3d3d;
  fill-opacity: 0.75;
  stroke: none;
}

.basicImg{
  fill: #8c8c8c;
  fill-opacity: 0.75;
  stroke: #000000;
  stroke-width: 1px;
  stroke-opacity: 1;

}

.basicErase{
  fill: none;
  stroke: none;
}

.adds{
  rx: 3;
  ry: 3;
  fill: #ffffff;
  fill-opacity: .1;
  stroke: #000000;
}

.adds:hover {
  fill: #f6f6f6;
  fill-opacity: 1;
  box-shadow: 0 0 2 #000000;
  stroke-width: 3;
  stroke: #000000;
}

.custom-modal {
  width: 90%;
  height: 90%;
}


.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

  .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
Resizer.disabled {
  cursor: not-allowed;
}
Resizer.disabled:hover {
  border-color: transparent;
}

.button-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
